.findClassListBox {
  /* width: 980px; */
  margin: 0px auto;
}
.findClassBox {
  padding: 20px 0px;
}
.findClassBox > div:first-child {
  display: flex;
  align-items: center;
}
.findClassBox > div > p {
  padding: 20px 10px;
  width: 680px;
  font-size: 23px;
  font-weight: bold;
}
.findClassBox > div > button {
  width: 130px;
  height: 40px;
  margin-right: 10px;
  background-color: #8521ff;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.classTypeSelect {
  display: flex;
}
.classTypeSelect > select {
  width: 170px;
  height: 40px;
  border-radius: 5px;
}
.classListOne {
  /* border: 1px solid #000; */
  width: 184px;
  margin: 8px;
  float: left;
  position: relative;
}
.classListOne > .listRreviewBox {
  width: 120px;
}
.listRouterLink > .location {
  font-size: 12px;
  color: #a0a0a0;
}
.classListBox {
  
  width: 180px;
  align-self: center;
}
.classListBox > img {
  width: 180px;
  height: 170px;
}
.classListOne > img{
  position: absolute;
  top: 50%;
  right: 0;
  width: 48px; /* 두 번째 이미지의 너비 */
  height: 48px;
  padding: 5px;
  /* float: right; */
}
.classListTitle{
  width: 170px;
  /* font-size: 13px; */
}

.classListPrice{
  font-size: 14px;
  width: 120px;
  text-align: end;
}
.listRouterLink{
  display: block;
  width: 180px;
  height: 250px;
}
.listRouterLink > p {
  font-size: 14px;
}
.sollocation{
  color: #a0a0a0;
  /* font-size: 12px; */
}
.listRreviewBox{
  display: flex;
  flex-direction: row; 
  align-items: center; 
}
.listRreviewBox > span {
  font-size: 13px;
  margin: 2px;
}
.listRreviewBox > span:nth-child(2){
  width: 30px;
}
.listRreviewBox > .liststarPoint {
  color: #8521ff;
  font-weight: bold;
  font-size: 15px;
}
.listRreviewBox>span:last-child{
  float: right;
}
/* 지도 */
.findMapBox {
  float: left;
}
.classMapListOne {
  /* border: 1px solid #8521ff; */
  width: 490px;
  /* height: 105px; */
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  border-radius: 5px;
}
.classMap {
  float: right;
  padding: 5px;
  /* border: 2px solid #8521ff; */
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  position: sticky;
  top: 0;
}
.listRouterLinkMap {
  display: flex;
  padding: 5px;
  margin-bottom: 10px;
}
.classMapListOne{
  display: flex;
  height: 120px;
}
.classMapListOne>.listRouterLinkMap{
  width: 490px;
}
.classMapListOne>.listRouterLinkMap >.classListBox{
  width: 130px;
  height: 120px;
}
.classMapListOne>.listRouterLinkMap >.classListBox> img {
  width: 120px;
  height: 110px;
  margin-top: 10px;
}
.classMapListOne>img{
  /* position: absolute;
  bottom: 0;
  right: 0; */
  width: 48px;
  height: 48px;
  float: right;
  padding: 5px;
  z-index: 1; /* 두 번째 이미지가 위로 올라오도록 설정 */
}
.MapListTite {
  margin-left: 5px;
}
.MapListTite > p {
  font-size: 17px;
}
.MapListTite > p:nth-child(3) {
  font-size: 12px;
  color: #a0a0a0;
}
.MapListTite > p:nth-child(4) {
  font-size: 13px;
}
