

/* {
display: flex;
flex-direction: row;  가로정렬
flex-direction: column; 세로정렬
justify-content: center; 가로정렬
align-items: center; 세로정렬
}   */
  

/************************
 * 사업자 가입 
 ************************/
.companyJoinTitle {
  margin-bottom: 70px;
}
.companyJoinTitle > h1 {
  text-align: center;
  font-size: 32px;
  padding-top: 30px;
}

/* 프로필사진등록 */
.companyJoinImg {
  display: flex;
  margin: 25px auto;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.companyJoinImg > img {
  width: 80px;
  margin-left: 6%;
  margin-right: 15px;
}
.companyJoinImg > div {
  display: flex;
  flex-direction: column;
}
.companyJoinImg > div > p {
  font-size: 25px;
  margin-bottom: 10px;
}

/* 정보입력 */
.companyJoinInfo{
  margin-left: 160px;
}
.companyJoinInfo > div {
  width: 550px;
  margin: 20px auto;
  /* text-align: center; */
  /* padding-left: 18%; */
}
/* .companyJoinInfo>div>label{
    float: left;
    width: 150px;
    text-align: center;
    font-size: 20px;
} */
#companyDescription{
  resize: none;
  width: 400px;
  height: 90px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 5px;
  font-size: 17px;
  font-family: "맑은고딕";
}
#companyDescription:focus{
  border: 2px solid #8521ff;
  outline: none;
}
.companyJoinInfo > div > input {
  height: 40px;
  width: 300px;
  padding-left: 5px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  font-size: 17px;
}
.companyJoinInfo > div > input:focus{
  border: 2px solid #8521ff;
  outline: none;
}
.companyJoinInfo > div > input[type="button"] {
  width: 90px;
  margin-left: 10px;
  font-size: 13px;
  border: none;
}
.companyJoinInfo > div > p {
  width: 330px;
  font-size: 12px;
  /* margin-left: 150px; */
  /* text-align: right; */
}
.companyAddress > input {
  margin: 5px 0px 5px 0px;
  width: 400px;
}
.companyAddress>input:first-child{
  width: 200px;
}
#sample6_postcode {
  width: 200px;
}

.companyHpChack > input {
  height: 30px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  font-size: 13px;
  margin: 5px 5px 5px 0px;
}
.companyHpChack > input[type="button"] {
  width: 60px;
  border: none;
}
.companyHpChack > p {
  width: 330px;
  font-size: 12px;
}

.companyJoinButton {
  width: 407px;
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  margin: 0 auto;
}
.companyJoinButton > button {
  margin: 10px 20px;
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  font-weight: bold;
}
.companyJoinButton > button:nth-child(2) {
  background-color: #8521ff;
  color: #fff;
}

/************************
 * 업체페이지
 ************************/

.companyInfoMenu > h1 {
  padding: 20px 0px 10px 0px;
  font-size: 28px;
}

.companyInfoMenu {
  width: 250px;
  float: left;
  /* margin-left: 10px; */
}
.companyInfoMenu > ul {
  /* margin: 10px 0px 0px 30px; */
  font-size: 15px;
}

.companyInfoMenu > ul > li:first-child {
  font-size: 18px;
  background-color: #f4f4f4;
  /* border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9; */
  padding: 5px;
}

.companyInfoMenu > ul > li {
  margin: 5px auto;
  padding-left: 8px;
  cursor: pointer;
}
.whatClass {
  margin: 0px 8px;
}
.whatClass > span {
  cursor: pointer;
  padding: 3px 10px;
  font-size: 15px;
}
.whatClass > span:first-child {
  /* border-right: 1px solid #000; */
}
.memberListTitle>p {
  float: left;
  margin: 10px 20px 10px 20px;
  width: 870px;
}
.memberListTitle > p {
  border-bottom: 1px solid #d9d9d9;
  padding: 5px 10px;
  margin: 5px 10px;
  font-size: 26px;
}
.companyInfoClassfor {
  margin: 20px;
}
.companyInfoClassfor > li > img {
  float: left;
  width: 60px;
  margin-right: 10px;
}
.companyInfoClassfor > li > div {
  float: left;
}
.companyInfoClassfor > li > div > p:nth-child(1) {
  font-size: 18px;
}
.companyInfoClassfor > li > div > p:nth-child(2) {
  font-size: 13px;
  height: 40px;
}
.classListObj {
  cursor: pointer;
  width: 300px;
}
/* .classListObj>p:nth-child(2){
    height: 40px;
    display: flex;
    font-size: 12px;
} */
.classListOption {
  display: flex;
  flex-direction: column;
  /* margin: 5px; */
}
.classListOption > .classRouterLink {
  margin: 2px 5px;
  height: 24px;
  width: 70px;
  font-size: 13px;
}


 /* 날짜선택 */
.memberListTitle{
  display: flex;
  /* width: 500px; */
}
/******************* 
 * 회원리스트 */
.memberListTitle>p>.memberVueDatePicker{
  /* display: inline; */
  margin: 3px;
  width: 250px;
  float: right;
}
.memberListTable {
  float: left;
  display: flex;
  margin: 0px 0px 0px 20px;
}
.memberListTable > table {
  font-size: 18px;
  margin-bottom: 50px;
}
.memberListTable > table > thead {
  border-bottom: 1px solid #d9d9d9;
}
.memberListTable > table > tbody {
  text-align: center;
  font-size: 16px;
}
.memberListTable > table > tbody > td {
  margin: 15px 0px;
}


/***********************
 * 클래스 등록
 ***********************/
.classAddBox {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.classAddBox select {
  border-radius: 5px;
}
.classAddImgTitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.classAddImg {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.classAddBox > div > img {
  width: 100px;
  margin: 5px 10px;
}
.addPageSelectClassMemory {
  height: 30px;
  width: 240px;
  margin-top: 10px;
}
.classAddInfo .classAddInfoBox {
  display: flex;
  flex-direction: column;
  width: 510px;
}
.classAddInfoBox>div{
  margin: 15px 0px;
}
.addPageSelectClass {
  height: 30px;
  width: 360px;
  margin: 5% 10%;
}
.classSchedule {
  display: flex;
  /* flex-direction: row; */
}
.classSchedule>div>.VueDatePicker{
  width: 145px;
  height: 30px;
  margin-right: 10px;
  border-color: #d9d9d9;
}
.classAddInfoBox > div > input[type="text"] {
  height: 35px;
  width: 300px;
  padding-left: 7px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
.classAddInfoBox > div > input[type="text"]:focus{
  border: 2px solid #8521ff;
  outline: none;
}
.classAddInfoBox > div > label:first-child {
  /* display: flex; */
  width: 120px;
  float: left;
  font-size: 17px;
  text-align: center;
}
.classRadioText{
  font-size: 13px;
  margin: 0px 3px 0px 8px;
}
.classScheduleFor{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.classScheduleBox{
  display: flex;
  align-items: center;
}
.classScheduleBox>button{
  width: 50px;
  height: 30px;
  border: none;
  background-color: transparent;
}
.classScheduleBox>.VueDatePickerOne{
  margin-right: 10px;
  width: 250px;
}
/* .classScheduleSelectBox > select {
  width: 60px;
  margin: 0px 3px;
}
.classScheduleSelectBox > button {
  width: 23px;
  height: 23px;
  border: none;
  border-radius: 3px;
  margin: 3px;
} */
.classCategorySelectBox > select {
  width: 120px;
  height: 25px;
  margin: 0px 3px;
  border: 1px solid #d9d9d9;
  color: #a0a0a0;
}
.additionalInfo {
  display: flex;
}
.additionalInfo > div > label {
  font-size: 18px;
}
.additionalInfo > div > input {
  height: 25px;
  margin: 0 5px;
}
.additionalInfo > div:nth-child(1) > input {
  width: 120px;
}
.additionalInfo > div:nth-child(2) > input {
  width: 100px;
}
.addSelectImg{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.addSelectImg > div > button {
  width: 23px;
  height: 23px;
  border: none;
  border-radius: 3px;
  margin: 3px;
}
.addInfoImg > div > button:nth-child(1) {
  background-color: #8521ff;
}
.isAddBtn>button{
  border: none;
  border-radius: 10px;
  width: 120px;
  height: 50px;
  margin: 30px 30px;
  font-size: 20px;
}
.isAddBtn>button:nth-child(1){
  background-color: #f4f4f4;
}
.isAddBtn>button:nth-child(2){
  background-color: #8521ff;
  color: #fff;
}

/********************************
 * 일정표
 ********************************/
.demo-app>.fullCalendar{
  width: 800px;
  margin: 10px auto;
  font-size: 15px;
}


