.companyJoinTitle{
    margin: 0px auto;
}
.companyJoinTitle>h1{
    text-align: center;
    font-size: 32px;
}

/* 프로필사진등록 */
.companyJoinImg{
    display: flex;
    margin: 20px auto;
    justify-content: center;
    flex-direction: row; 
    align-items: center;
}
.companyJoinImg>img{
    width: 80px;
    margin: 10px;
}
.companyJoinImg>div{
    display: flex;
    flex-direction: column;
}
.companyJoinImg>div>p{
    font-size: 25px;
    margin-bottom: 10px;
}

/* 정보입력 */
.companyJoinInfo>div{
    width: 500px;
    margin: 10px auto;
    /* text-align: center; */
}
.companyJoinInfo>div>label{
    float: left;
    width: 150px;
    text-align: center;
    font-size: 20px;
    /* margin-right: 20px; */
}
.companyJoinInfo>div>input{
    height: 25px;
    width: 250px;
}
.companyJoinInfo>div>button{
    height: 28px;
}
.companyJoinInfo>div>p{
    margin-left: 146px;
    width: 330px;
    font-size: 13px;
    /* text-align: right; */
}