.companyInfoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 100px;
}

.companyInfo {
  width: 800px;
}

.companyInfoBox {
  text-align: left;
}

.companyInfoBox>h2 {
  font-size: 28px;
}

.companyTitle {
  margin-bottom: 15px;
  font-size: 22px;
}

.companyInfotitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 20px 0px;
  padding: 20px;
  /* border-bottom: 1px solid #a0a0a0; */
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.companyInfotitle>div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.companyInfotitle>div>img {
  margin: 0px 20px 0px 0px;
}

.infContent {
  display: flex;
}

.infContent>div:first-child {
  width: 150px;
}

.infContent>div>p {
  font-size: 17px;
  margin: 5px 0px;
}

.infContent>div:first-child>p {
  font-weight: bold;
}

/* 업체클래스 */
.companyClass>p {
  margin: 5px;
  font-weight: bold;
}

.classInfoTotalBox {
  width: 800px;
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 10px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.infoImg {
  position: relative;
}

.infoImg>img {
  width: 150px;
  height: 150px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.infoImg>img {
  width: 150px;
  /*object-fit: contain;*/
  border-radius: 5px;
  margin-right: 10px;
  /*  */
}

.infoImg>img:nth-child(2) {
  position: absolute;
  /* 이미지들을 겹치게 배치 */
  top: 55%;
  left: 70%;
  width: 30px;
  /* 두 번째 이미지의 너비 */
  height: 30px;
  z-index: 1;
  /* 두 번째 이미지가 위로 올라오도록 설정 */
  cursor: pointer;
}

.flexBox {
  display: flex;
  /* justify-items: space-between; */
}

.infoContentBox {
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.infoContentBox>div>img {
  width: 40px;
}

.infoClassStar {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.infoClassStar>span:nth-child(1) {
  width: 20px;
  color: #8521ff;
}

.infoClassStar>p {
  font-size: 15px;
  text-align: center;
}

.infoClassStar>p {
  margin-top: 5px;
  margin-right: 15px;
}

.infoName {
  height: 27px;
  margin-bottom: 15px;
  font-weight: bold;
}

.infoIntro {
  height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
}

.companyImg{
  width: 160px;
  height: 160px;
  border-radius: 10px;
  position: relative;
}

.comapnyImg2{
  position: absolute;
  left: 40.5%;
  top: 44%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.companyContent{
  width: 600px;
  height: 160px;
}

.InfoTitle{
  width: 150px;
}

.infoContent{
  width: 270px;
}