* {
    margin: 0;
    padding: 0;
}

body {
    /* color: #333; */
    background-color: #ededed;
    font-family: "맑은고딕";
    font-size: 20px;
}

ul, ol {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #000000;
}

a:active {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

.clearfix:before,
.clearfix:after {
    display: block;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.wrap {
    width: 1200px;
    height: 100vh;
    background-color: #fff;
    margin: 0 auto;
}

.img{
    width: 140px;
    height: 140px;
}

.a{
    float: left;
    margin-left: 20px;
}

.companyname{
    font-size: 36px;
    height: 40px;
    float: left;
}

.companypro{
    font-size: 24px;
    height: 100px;
    margin-right: 20px;
}

.companybutton{
    font-size: 20px;
    color: #636363;
    background-color: #ffffff;
    border: none;
    height: 40px;
}

.cover1{
    margin-left: 20px;
    width: 300px;
    height: 220px;
    background-color: #d9d9d9;
    float: left;
}

.cover2{
    margin-left: 330px;
    width: 850px;
    height: 220px;
    background-color: #d9d9d9;
}

.img2{
    margin-top: 35px;
    margin-left: 10px;
    width: 140px;
    height: 140px;
    float: left;
}

.classpro{
    font-size: 18px;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 170px;
}

.img3{
    width: 25px;
    height: 25px;
    float: left;
}

.cover4{
    float: left;
}

.avg{
    margin-left: 100px;
    padding-top: 5px;
}

.count1{
    margin-left: 50px;
    padding-top: 5px;
}

.text1{
    padding-top: 5px;
}

#chart{
    width: 440px;
    height: 200px;
}

.cover5{
    padding-top: 40px;
}

.cover6{
    margin-top: 20px;
    margin-bottom: 10px;
}

.preview-image{
    float: left;
}

.img20{
    width: 270px;
    height: 270px;
}

.cover20{
    margin-left: 200px;
    margin-top: 100px;
    margin-right: 200px;
}

.p20{
    font-size: 36px;
    font-weight: bold;
    margin-left: 310px;
    padding-top: 60px;
    margin-bottom: 60px;
}

.file-input{
    margin-left: 40px;
}

.cover21{
    margin-left: 200px;
    margin-top: 100px;
    margin-right: 200px;
    margin-bottom: 30px;
    height: 200px;
    background-color: #d9d9d9;
    padding: 10px;
    font-size: 24px;
}

.cover22{
    text-align: right;
    margin-right: 200px;
}

.bu20{
    font-size: 24px;
    width: 80px;
    margin-right: 10px;
    border-radius: 10px;
}

.bu21{
    font-size: 24px;
    width: 80px;
    margin-left: 10px;
    border-radius: 10px;
}

.img30{
    width: 115px;
    height: 115px;
}

.cover30{
    font-size: 36px;
}

.cover31{
    text-align: center;
    margin-top: 150px;
    height: 1000px;
}

.cover32{
    width: 260px;
    height: 260px;
    position: relative;
    
}

.img31{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 70%;
    left: 70%;
}

.cover33{
    margin-top: 50px;
    
}

.cover34{
    width: 260px;
    margin-right: 40px;
    margin-left: 20px;
    float: left;
}