.paymentBoxAll {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paymentBoxAll>p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}

.paymentBox {
  box-sizing: border-box;
  width: 600px;
  /* border: 1px solid #a0a0a0; */
  /* margin: 20px auto; */
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px 20px;
}

.paymentBox>p {
  font-weight: bold;
  margin: 5px;
}

.paymentClassBox {
  box-sizing: border-box;
  /* border: 1px solid #8521ff; */
  display: flex;
}

.paymentClassBox>img {
  width: 180px;
  height: 180px;
  /* float: left; */
  padding: 8px;
}

.paymentTitle {
  width: 380px;
  height: 200px;
  padding: 10px;
}


.paymentTitle>p {
  font-size: 12px;
}

.paymentTitle>p:first-child {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.paymentTitle-2nd {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  height: 95px;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  white-space: no-wrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.paymentTitle-name {
  font-size: 10px;
}


.paymentTitle>p:last-child {
  color: #a0a0a0;
  font-size: 12px;
}

/* 결제수단 */
.paymentContentBox {
  width: 600px;
  margin: 40px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px 40px;
}

.paymentContentBox>p {
  font-size: 20px;
  font-weight: bold;
}

.paymentType {
  border-bottom: 1px solid #a0a0a0;
}

.paymentType>li {
  margin: 20px auto;
}

.paymentType>li>select {
  width: 150px;
  height: 25px;
  border-radius: 5px;
}

.paymentType {
  margin-left: 10px;
}

.paymentCoupon {
  margin: 20px 0px;
}

.paymentCoupon>div {
  display: flex;
  justify-content: space-between;
}

.couponSelect {
  display: flex;
  align-items: center;
}

.couponSelect>p {
  width: 60px;
}

.couponSelect>button {
  width: 80px;
  height: 30px;
  border: none;
  background-color: #bc85ff;
  border-radius: 5px;
  color: #fff;
}

.paymentPay {
  width: 600px;
  /* margin: 40px; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
}

.paymentPay>div>p {
  font-size: 18px;
  margin: 10px;
}

.paymentContent {
  float: left;
  width: 270px;
}

.paymentContent>p {
  font-weight: bold;
}

.paymentResult {
  text-align: right;
  width: 270px;
}

.paymentBoxAll>div>button {
  margin: 30px;
  border: none;
  border-radius: 5px;
  width: 270px;
  height: 60px;
  font-size: 18px;
}

.paymentBoxAll>div>button:nth-child(2) {
  background-color: #8521ff;
  color: #fff;
}

.pamentButtonBox {
  margin: 40px;
}

/* 결제완료 */
.paymentEndBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.paymentEndBox>h1 {
  color: #8521ff;
  font-size: 25px;
  margin: 30px 0px 20px 0px;
}

.paymentEndBox>h2 {
  color: #a0a0a0;
  margin: 20px 0px 0px 0px;
}

.pamentTable {
  margin: 30px;
}

.pamentTable>tbody>tr>td>img {
  width: 200px;
  height: 200px;
}

.pamentTable>tbody>tr>th {
  padding: 3px 30px;
}

.pamentTable>tbody>tr>td {
  font-size: 18px;
}

.pamentTable>tbody>tr:last-child>td {
  color: #8521ff;
  font-size: 23px;
  font-weight: bold;
}

.payendButtonBox>button {
  width: 300px;
  height: 50px;
  margin: 50px 30px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
}

.payendButtonBox>button:nth-child(2) {
  background-color: #8521ff;
  color: #fff;
}

/* 결제완료 클래스리스트 */
.paymentClassList>h3 {
  margin: 30px 0px;
  padding-top: 20px;
  border-top: 1px solid #a0a0a0;
  width: 400px;
  text-align: center;
}

.paymentClass {
  width: 190px;
  margin: 3px;
}

.paymentClass>img {
  width: 180px;
  border-radius: 8px;
}

.paymentClass>p {
  font-size: 15px;
}

.paymentClass>p:nth-child(2) {
  color: #a0a0a0;
  font-size: 13px;
}

.paymentClass>p:nth-child(4) {
  /* color: #a0a0a0; */
  font-size: 13px;
}

.paymentClassStar>.paymentStar {
  color: #8521ff;
  font-size: 14px;
  padding-bottom: 5px;
}

.paymentClassStar>span:last-child {
  font-size: 14px;
}

.paymentEndImage {
  width: 180px;
  height: 180px;
}

.paymentEndAddress {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.paymentEndName{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.paymentEndIntro{
  width: 180px;
  height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.paymentP{
  width: 362px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.payImg{
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.radio{
  display: flex;
  align-items: center;
}

.radio label{
  width: 100px;
}

.radio input[type="radio"] {
  margin-left: 20px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 1px;
}