.paymentBoxAll {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paymentBox {
    width: 700px;
    /* border: 1px solid #a0a0a0; */
    margin: 20px auto;
}

.paymentBox > p {
    font-weight: bold;
    margin: 5px;
}
.paymentClassBox {
  /* border: 1px solid #8521ff; */
  display: flex;
  align-items: center;
}
.paymentClassBox > img {
  width: 130px;
  float: left;
  padding: 8px;
}
.paymentTitle > p {
  font-size: 15px;
}
.paymentTitle > p:first-child {
  font-size: 20px;
  font-weight: bold;
}
.paymentTitle > p:last-child {
  color: #a0a0a0;
  font-size: 13px;
}

/* 결제수단 */
.paymentContentBox{
    width: 700px;
    border: 1px solid #8521FF;
}
.paymentContentBox>p{
    font-size: 20px;
    font-weight: bold;
}
.paymentType>li>select{
    width: 150px;
    height: 25px;
    border-radius: 5px;
}
.paymentType{
    margin-left: 10px;
}