/* 클래스 위시 리스트 */
.mymy-main {
  width: 830px;
}

.wishClassBox {
  width: 178px;
  height: 268px;
  margin: 5px;
  padding: 8px;
  float: left;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.whsilistImg {
  position: relative;
}

.whsilistImg>img {
  width: 160px;
  height: 150px;
  border-radius: 5px;
}

.whsilistImg>img:last-child {
  position: absolute;
  /* 이미지들을 겹치게 배치 */
  bottom: -30%;
  right: 3%;
  width: 35px;
  /* 두 번째 이미지의 너비 */
  z-index: 1;
  /* 두 번째 이미지가 위로 올라오도록 설정 */
}

.wishClassContent>p {
  font-size: 15px;
}

.wishClassContent>p:first-child {
  color: #a0a0a0;
  font-size: 12px;
}

.wishClassContent>p:nth-child(2) {
  font-weight: bold;
  margin: 5px 0;
}

.wishClassContent>p:nth-child(3) {
  font-size: 13px;
}

.wishClassContent>p:last-child {
  font-size: 13px;
  text-align: right;
  color: #a0a0a0;
}

/* 업체 위시리스트 */
.wishlistCompany {
  width: 900px;
  /* padding: 20px; */
}

.wishlistCompanyBox {
  display: flex;
  float: left;
  width: 368px;
  margin: 5px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.wishlistCompanyBox>div {
  display: flex;
}

.wishTitleContent {
  width: 150px;
  margin-top: 20px;
  margin-left: 10px;
}

.wishlistCompanyImg>img {
  width: 150px;
  height: 100px;
  border-radius: 10px;
  margin: 5px;
}

.wishlistCompanyImg>img:last-child {
  bottom: -22%;
  right: 0;
}

.wihshCompanyContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.wihshCompanyContent>div {
  width: 40px;
  margin-top: 8px;
}

.wihshCompanyContent>div>p {
  font-size: 14px;
  color: #a0a0a0;
}

.goCompanyInfo {
  float: right;
  font-size: 40px;
  font-weight: bold;
  color: #8521ff;
  cursor: pointer;
}

.border{
  border-bottom: 2px solid #8521ff;
}

.content1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.content2{
  height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}