.detail-inner {
    width: 1000px;
    margin: 0 auto;
}
/* head section */
.headSection {
    padding: 40px 0;
    display: flex;
    border-bottom: 1px solid #dedede;
}
.headSection > img.representImg {
    width: 450px;
    height: 450px;
    border-radius: 20px;
    margin-right: 100px;
}
/* class title */
.headInfoBox {
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #2c2c2c;
}
.headInfoBox h1 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
}
.headInfoBox div div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headInfoBox p {
    font-size: 27px;
    font-weight: bold;
}
.headInfoBox p span {
    font-weight: normal;
    font-size: 17px;
}
.headInfoBox .class-like-btn {
    width: 40px;
    margin-right: 5px;
    cursor: pointer;
}
.headInfoBox .class-like-btn.red {
    width: 40px;
}
.headInfoBox .class-like-btn.red img {
    width: 100%;
}
.headInfoBox .class-like-btn img {
    width: 100%;
}
/* 날짜 선택 결제 박스 */
.orderSelectBox {
    padding-top: 30px;
    border-top: 1px solid #ddd;
}
.orderSelectBox select {
    width: 440px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #8521FF;
    display: block;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
}
.orderSelectBox select:focus {
    outline: none;
}
.orderSelectBox .orderDate {
    text-align-last: left;
    padding: 10px 0;
    color: #666;
    font-size: 14px;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.orderSelectBox .howMuch{
    padding: 10px 10px;
    display: flex;
    justify-content: end;
}
.orderSelectBox button {
    width: 440px;
    height: 50px;
    display: block;
    background: #fff;
    border: 1px solid #8521FF;
    border-radius: 5px;
    color: #8521FF;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.orderSelectBox button:hover {
    background: #8521FF;
    color: #fff;
    border: 1px solid #999;
}
/* compnany section */
.companySection {
    display: flex;
    position: relative;
    margin-top: 10px;
    padding: 5px 0;
    border-top: 1px solid #ddd;
}
/* 회사로고 */
.companySection .companyLogo {
    width: 60px;
    height: 60px;
    display: block;
    margin-top: 12px;
    margin-right: 20px;
}
.companySection .companyLogo img {
    width: 100%;
}
/* 회사이름 */
.companySection .nameBox {
    padding-top: 15px;
}
.companySection .nameBox p:first-child {
    font-size: 20px;
}
.companySection .nameBox p:first-child::after {
    content: '';
    display: inline-block;
    background: url('../../images/icon/arrow_right.png') no-repeat center / contain;
    background-size: 19px 19px;
    width: 20px;
    height: 19px;
    margin-left: 5px;
}
/* 회사 클래스, 후기, 찜 */
.companySection .nameBox p:last-child span {
    font-size: 14px;
    font-weight: bold;
    color: #aaa;
}
.companySection .nameBox span:not(:last-child)::after {
    content: '';
    width: 1px;
    height: 10px;
    display: inline-block;
    margin: 0 10px;
    background: #ddd;
}
/* 찜 버튼 */
.company-like-btn {
    width: 40px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}
.company-like-btn.red {
    width: 40px;
}
.company-like-btn img {
    width: 100%;
}
/* reviewSection */
.reviewSection {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.reviewSection ul {
    display: flex;
    gap: 26px;
    justify-content: flex-start;
}
.reviewSection ul li {
    min-width: 230px;
}
.reviewSection li > a > img {
    width: 100%;
    height: 230px;
    overflow: hidden;
}
.reviewSection li > a div {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.reviewSection li > a div img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    margin-right: 10px;
}
.reviewSection li > a div span {
    display: block;
    font-size: 17px;
    font-weight: bold;
    color: #2c2c2c;
}
.reviewSection li p {
    padding: 10px 0;
    border-top: 1px solid #ddd;
    font-size: 14px;
}
.reviewSection .moreReviewBtn {
    width: fit-content;
    display: block;
    margin: 70px auto 0;
    color: #0075ef;
    letter-spacing: -0.9px;
    font-weight: bold;
    font-size: 18px;
}
/* 클래스 설명 */
.classInfoSection {
    padding: 30px 0;
    letter-spacing: -1.2px;
}
.classInfoSection div {
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0;
}
.classInfoSection div span:first-child {
    color: #666;
    margin-right: 30px;
}
.detail-inner h2 {
    font-size: 20px;
    color: #2c2c2c;
    margin-bottom: 20px;
    margin-left: 0;
}
/* 클래스 소개 */
.classIntroduceSection {
    padding: 30px 0 60px;
    letter-spacing: -1.2px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 50px;
    position: relative;
}
.classIntroduceSection .classIntroImgBox {
    width: 100%;
    height: 700px;
    border: 1px solid #ddd;
    overflow: hidden;
    position: relative;
}
.classIntroduceSection .classIntroImgBox.show {
    height: auto;
}
.shadowBox {
    width: 100%;
    height: 350px;
    background: linear-gradient(to top,
    rgba(177, 177, 177, 0.7),
    rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    left: 0;
}
.shadowBox.show {
    background: none;
}
/* 상세정보 더보기 버튼 */
.moreInfoBtn {
    width: 350px;
    height: 60px;
    border: 1px solid #777;
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    cursor: pointer;
}
.moreInfoBtn.show {
    bottom: 0px;
}
/* ------------------map--------------- */
.mapWraper {
    width: 1002px;
    height: 400px;
    /* margin: 0 auto; */
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 40px;
}
.mapWraper #map {
    margin: 0;
}
.mapWraper b {
    font-size: 17px;
    display: block;
    color: #222;
    margin: 20px 15px 15px;
}
.mapWraper p {
    font-size: 15px;
    font-weight: bold;
    color: #777;
    margin: 10px 15px;
}
/* b-link */
.b-link {
    padding: 30px 0;
    border-top: 1px solid #ddd;
}
.b-link p {
    font-weight: bold;
    font-size: 17px;
    padding: 20px 0;
    color: #222;
}
.b-link p:not(:last-child) {
    border-bottom: 1px solid #eee;
}