/* category-icons */
ul.category-icons {
    height: 120px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 40px;
    padding: 0 150px;
}
ul.category-icons li {
    transition: transform 0.1s linear;
}
ul.category-icons li:hover {
    transform: scale(1.07);
}
ul.category-icons div {
    width: 70px;
    height: 70px;
    background: #eee;
    border-radius: 20px;
    margin-bottom: 2px;
    /* border: 1px solid #8521FF; */
}
ul.category-icons img {
    width: 40px;
    margin-top: 14px;
}
ul.category-icons p {
    font-size: 14px;
    font-weight: bold;
    color: #777;
}
/* section free-best */
div.title-box {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
div.title-box h3 {
    font-size: 20px;
    color: #2c2c2c;
}
div.title-box a {
    font-size: 15px;
    font-weight: bold;
    color: #2c2c2c;
}
div.title-box h3 img {
    width: 24px;
    margin-bottom: -5px;
}
ul.classList {
    display: flex;
    justify-content: space-between;
}
ul.classList li {
    width: 235px;
    height: 450px;
    transition: transform 0.1s linear;
}
ul.classList li:hover {
    transform: scale(1.07);
}
ul.classList li .img-box {
    width: 100%;
    height: 230px;
    border-radius: 10px;
}
ul.classList li .img-box img:first-child {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
ul.classList p.location {
    font-size: 12px;
    font-weight: bold;
    color: #666;
    margin: 10px;
}
ul.classList p.classTitle {
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
}
ul.classList .review-box {
    margin: 10px;
    font-size: 12px;
    font-weight: bold;
}
ul.classList .review-box span:first-child {
    color: #8521FF;
    font-size: 17px;
}
ul.classList .review-box span:last-child {
    margin-left: 5px;
    color: #333;
}
ul.classList .class-price {
    margin: 10px;
    padding: 10px 0;
    font-weight: bold;
    font-size: 16px;
    color: #2c2c2c;
    border-top: 1px solid #ccc;
}
/* banner */
.banner {
    width: 100%;
    height: 130px;
    border: 1px solid #999;
    margin: 20px 0;
}