/* select category */
.categorySelectBox {
    height: 460px;
    padding: 20px 0;
    display: flex;
    border-bottom: 1px solid #ddd;
    color: #333;
}
.category-1st {
    padding: 7px 0;
} 
.category-1st h1 {
    font-size: 18px;
    margin-bottom: 28.5px;
    cursor: pointer;
}
.catgory-2nd {
    margin-left: 30px;
}
.catgory-2nd ul {
    display: flex;
    font-size: 15px;
    margin-bottom: 17px;
}
.catgory-2nd ul li {
    margin-right: 15px;
    padding: 7px 15px;
    border-radius: 5px;
    border: 1px solid #bbb;
    cursor: pointer;
}
.BtnActive {
    background: #8521ff;
    color: #fff;
}
/* searchResult */
h2.searchResult {
    margin: 20px 0;
    font-size: 20px;
}

.btnBox {
    margin: 20px 0;
    display: flex;
}
.btnBox button {
    width: 80px;
    height: 45px;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    font-size: 15px;
}
.btnBox button:hover {
    border: 1px solid #8521ff;
}
.btnBox button:first-child {
    margin-right: 20px;
}

.classList.resultPageClassList {
    width: 100%;
    flex-wrap: wrap;
}