/* 쿠폰 페이지 */

/* 쿠폰 위에 메세지 */
.couponMsg {
    border-bottom: 1px solid #aaa9a9;
    margin: 10px auto;
    padding-bottom: 15px;
    font-size: 16px;
}

/* 쿠폰 박스 */
.coupon-box {
    border-bottom: 1px solid #aaa9a9;
    /* border: 1px solid #000; */
    min-height: 500px;
    margin-bottom: 20px;
    padding: 5px;
}

/* 쿠폰 없을때 */
.no-coupon {
    box-sizing: border-box;
    text-align: center;
}

.no-coupon img {
    width: 180px;
    margin-top: 130px;
}
.no-coupon span {
    display: block;
    margin-top: -30px;
    font-size: 18px;
    letter-spacing: -2.1px;
}

/* 쿠폰 있을때 */

.on-coupon {
    box-sizing: border-box;
    padding: 5px;
    float: left;
    margin: 10px 40px;
}

.coupon-set {
    box-sizing: border-box;
    display: inline-block;
    margin: 30px 30px 50px 30px;
    cursor: pointer;
}

.coupon-set img {
    display: flex;
    position: relative;
    width: 330px;
    float: left;
    z-index: 1;
}

.coupon-set2 {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    width: 190px;
    margin-top: 20px;
    margin-left: 110px;
}

.coupon-set2 .cou-price {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 34px;
    font-size: 30px;
    margin-bottom: 5px;
    padding: 3px;
    color: #8521FF;
}

.coupon-set2 .cou-name {
    display: block;
    width: 180px;
    height: 30px;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
}




.coupon1 {
    box-sizing: border-box;
    /* border: 1px solid #000; */
    /* display: flex; */
    /* justify-content: space-between; */
    width: 280px;
    height: 140px;
    padding: 20px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: none;
    float: left;
    border-radius: 5px;
    margin: 10px 0;
}


.coupon1-1{
    box-sizing: border-box;
    /* border: 1px solid #000; */
    /* width: 250px; */
    height: 60px;
    padding: 0 10px;
    margin-bottom: 30px;
    
}
.coupon1-1-txt1 {
    color: #8521FF;
    font-size: 22px;
    font-weight: bold;
    /* float: left; */
}
.coupon1-1-txt2{
    font-size: 10px;
    margin-top: 10px;
    margin-left: 50px;
    /* float: left; */
}

.coupon1-1-txt3{
    font-size: 12px;
}
.coupon1-2 {
    box-sizing: border-box;
    /* border: 1px solid #000; */
    font-size: 10px;
    padding: 0 10px;
}
.coupon2 {
    box-sizing: border-box;
    /* display: flex;? */
    /* justify-content: space-between; */
    /* border: 1px solid #000; */
    width: 80px;
    float: left;
    height: 140px;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid solid solid dashed;
    border-color: #000;
    margin: 10px 0;
}