/* 결제내역 페이지 css */
/* mymy-nav*/
.mymy-nav {
    box-sizing: border-box;
    width: 950px;
    display: block;
    padding : 0 0 10px 0 ; 
    border-bottom: 1px solid rgba(133, 33, 255, 0.6);
}

.mymy-nav span {
    width: 70px;
    height: 30px;
    margin: 0 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: #fff;
}

/***************************/

/* 페이 컨텐츠 전체 */
.mymy-paybox {
    margin-top: 10px;
    letter-spacing: -0.6px;
}
/* 결제한 내역이 없을때 */
.mymy-nopay {
    box-sizing: border-box;
    display: none;
    text-align: center;
    margin: 0 auto;
    min-height: 500px;
}

.mymy-nopay #nopayImg {
    margin: 150px auto 10px auto;
    display: block;
    width: 200px;
}
.mymy-nopay span {
    display: block;
    font-size: 15px;
}
.mymy-nopay a {
    box-sizing: border-box;
    display: inline-block;
    /* border: 1px solid #000; */
    border-radius: 3px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin: 10px auto;
    cursor: pointer;
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    background-color: #8521FF;
}

.mymy-paybox:last-child {
    border: none;
}

/* 결제한 내역이 있을때 */
.pay {
    display: block;
    width: 950px;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    border-bottom: 1px solid #8521FF;
    height: 280px;
    margin-top: 10px;
}

.mymy-pay{
    display: block;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    width: 180px;
    max-width: 180px;
    height: 200px;
    max-height: 200px;
    float: left;
    margin-bottom: 10px;
}
.mymy-pay ul {
    display: block;
    box-sizing: border-box;
    width: 180px;
    max-height: 220px;
    height: 220px;
}


/* 종료 메세지 */
.end-msg{
    box-sizing: border-box;
    /* border: 1px solid #000; */
    z-index: 3;
    display: none;
    position: absolute;
    margin-left: 130px;
    background-color: #d6d6d6;
    font-size: 12px;
    width: 35px;
    padding: 2px;
    text-align: center;
}


/* 이미지 나오는 부분 */
.mymy-pay #pay-pro {
    box-sizing: border-box;
    /* border: 1px solid #000; */
    display: block;
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin: 10px auto;
    position: relative;
    z-index: 1;
}

/* .mymy-pay #pay-heart {
    width: 30px;
    position: absolute;
    z-index: 2;
    margin-left: 150px;
    margin-top: 150px;
    cursor: pointer;
    filter: opacity(0.5) drop-shadow(0 0 0 red);
    -webkit-filter: brightness(3);
} */

/* 하트 표시 */
.heart {
    z-index: 3;
    width: 15px;
    height: 15px;
    background: #fff;
    position: relative;
    margin-top: -30px;
    margin-left: 140px;
    transform: rotate(45deg);
    cursor: pointer;
}

.heart::before{
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: -50%;
    border-radius: 50%;
    background: #fff;
}

.heart::after{
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: -50%;
    border-radius: 50%;
    background: #fff;
}


/* 별점 체크 부분 */

.star-ratings {
    color: #aaa9a9;
    position: relative;
    margin: 10px auto 0 20px;
    unicode-bidi: bidi-override;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.1px;
    -webkit-text-stroke-color: #2b2a29;
    width: max-content;
    font-size: 25px;
    height: 30px;
    line-height: 22px;
    float: left;
}

.star-ratings-fill {
    color: #fff58c;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-text-fill-color: gold;
}
.star-ratings-base {
    z-index: 0;
    padding: 0;
}


.star-avg {
    box-sizing: border-box;
    display: block;
    margin-top: 10px;
    font-size: 13px;
    float: left;
    width: 30px;
    height: 30px;
    line-height: 35px;
    text-align: center;
}


.mymy-pay #pay-star {
    display: inline-block;
    width: 30px;
    padding: 2px;
    /* filter: opacity(0.6) drop-shadow(0 0 0 #ff0000); */
}

/**********************/

/* 설명 + 출석 부분*/
.mymy-payCon {
    box-sizing: border-box;
    width: 730px;
    height: 200px;
    border: 1px solid #000;
    float: left;
    padding: 10px;
}

/* paycon1 */
.paycon1 {
    width: 450px;
    border: 1px solid #000;
    height: 180px;
    padding-top: 2px;
    padding-left: 3px;
    float: left;
}

/* 결제일 */
.paycon1-txt1 {
    box-sizing: border-box;
    display: block;
    /* border: 1px solid #000; */
    width: 200px;
    height: 20px;
    font-size: 13px;
}

/* 클래스제목 */
.paycon1-txt2{
    box-sizing: border-box;
    /* border: 1px solid #000; */
    display: block;
    max-width: 400px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    margin-bottom: 5px;
    padding-left: 1.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 클래스 간단 설명 */
.paycon1-txt3{
    box-sizing: border-box;
    display: block;
    width: 350px;
    margin-left: 20px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis ;
    white-space: nowrap;
    margin-bottom: 10px;
}

/* 금액표시 */

.paycon1-txt4 {
    box-sizing: border-box;
    display: block;
    border: 1px solid #000;
    font-size: 13px;
    max-width: 180px;
}




/* paycon2 */

.paycon2 {
    box-sizing: border-box;
    width: 200px;
    height: 175px;
    /* border: 1px solid #000; */
    text-align: center;
    float: left;
    margin: 10px auto 30px auto;
    cursor: pointer; 
}

.paycon2 img {
    box-sizing: border-box;
    display: block;
    width: 130px;
    margin: 0 auto; 
}

.paycon2 .paycon2-txt {
    box-sizing: border-box;
    display: -webkit-box;
    margin: 10px auto 0 auto;
    font-size: 14px;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: no-wrap;
}


/* paycon3 */

.mymy-payCon .paycon3 {
    box-sizing: border-box;
    display: block;
    width: 200px;
    /* border: 1px solid #000; */
    float: right;
    text-align: center;
}

.paycon3 a {
    box-sizing: border-box;
    display: inline-block;
    width: 70px;
    height: 30px;
    line-height: 26px;
    margin: 0 10px;
    padding: 2px;
    border: none;
    border-radius: 3px;
    letter-spacing: -1.0px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background-color: rgba(133, 33, 255, 0.6);
}





