/* 결제내역 페이지 css */
/* mymy-nav*/
.mymy-nav {
    display: inline-block;
}

.mymy-nav button {
    width: 80px;
    border: none;
    color: #000;
    cursor: pointer;
}

.mymy-paybox {
    margin-top: 10px;
    border-top: 1px solid #000;
}

.mymy-nopay {
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    min-height: 500px;
}

.mymy-nopay #nopayImg {
    margin-top: 150px;
    width: 200px;
}

.mymy-paybox:last-child {
    border: none;
}

.mymy-pay {
    box-sizing: border-box;
    border-bottom: 1px solid #000;
    float: left;
    height: 300px;
    border: 1px solid #000;
}

.mymy-pay ul {
    margin: 0 0 0 20px;
}

.mymy-pay #pay-pro {
    width: 200px;
}

.mymy-pay span {
    display: block;
    border: 1px solid #000;
    text-overflow: ellipsis;
}

.mymy-pay #pay-star {
    width: 40px;
}





