/* 결제내역 페이지 css */
/* mymy-nav*/
.mymy-nav {
    box-sizing: border-box;
    width: 950px;
    display: block;
    padding : 0 0 10px 0 ; 
    border-bottom: 1px solid rgba(133, 33, 255, 0.6);
}

.mymy-nav span {
    width: 70px;
    height: 30px;
    margin: 0 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: #fff;
}

/***************************/

/* 페이 컨텐츠 전체 */
.mymy-paybox {
    margin-top: 10px;
    border-top: 1px solid rgba(133, 33, 255, 0.6);
}
/* 결제한 내역이 없을때 */
.mymy-nopay {
    box-sizing: border-box;
    display: none;
    text-align: center;
    margin: 0 auto;
    min-height: 500px;
}

.mymy-nopay #nopayImg {
    margin: 150px auto 10px auto;
    display: block;
    width: 200px;
}
.mymy-nopay span {
    display: block;
    font-size: 15px;
}
.mymy-nopay a {
    box-sizing: border-box;
    display: inline-block;
    /* border: 1px solid #000; */
    border-radius: 3px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin: 10px auto;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background-color: rgba(133, 33, 255, 0.6);
}

.mymy-paybox:last-child {
    border: none;
}

/* 결제한 내역이 있을때 */
.pay {
    display: block;
    width: 950px;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    border-bottom: 1px solid rgba(133, 33, 255, 0.6);
    height: 280px;
    margin-top: 10px;
}

.mymy-pay{
    display: block;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    width: 200px;
    height: 250px;
    float: left;
    margin-bottom: 10px;
}
.mymy-pay ul {
    /* border: 1px solid #000; */
    padding: 5px;
}
/* 이미지 나오는 부분 */
.mymy-pay #pay-pro {
    box-sizing: border-box;
    /* border: 1px solid #000; */
    display: block;
    width: 180px;
    cursor: pointer;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.mymy-pay #pay-heart {
    width: 30px;
    position: absolute;
    z-index: 2;
    margin-left: 150px;
    margin-top: 150px;
    cursor: pointer;
    filter: opacity(0.5) drop-shadow(0 0 0 red);
    /* -webkit-filter: brightness(3); */
}

/* 제목 나오는 부분 */
.mymy-pay a {
    box-sizing: border-box;
    display: -webkit-box;
    font-size: 14px;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: no-wrap;
    margin: 0 auto 10px auto; 
    cursor: pointer;
}

/* 별점 체크 부분 */
.mymy-pay ul>li:last-child {
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    width: 190px;
    text-align: center;
}

.mymy-pay #pay-star {
    display: inline-block;
    width: 30px;
    padding: 2px;
    /* filter: opacity(0.6) drop-shadow(0 0 0 #ff0000); */
}

/**********************/

/* 설명 + 출석 부분*/
.mymy-payCon {
    box-sizing: border-box;
    max-width: 730px;
    max-height: 270px;
    /* border: 1px solid #000; */
    float: left;
    padding: 10px;
}

/* paycon1 */
.paycon1 {
    width: 500px;
    float: left;
}

.paycon1 .paycon1-txt1{
    box-sizing: border-box;
    /* border: 1px solid #000; */
    display: inline-block;
    font-size: 13px;
    margin-bottom: 5px;
    padding-left: 1.5px;
}

.paycon1 p {
    display: -webkit-box;
    
    /* border: 1px solid #000; */
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: no-wrap;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    /* padding-left: 5px; */
    font-size: 18px;
    height: 170px;
}

.paycon1 .paycon1-txt2 {
    box-sizing: border-box;
    display: inline-block;
    /* border: 1px solid #000; */
    margin-top: 10px;
    font-size: 16px;
    /* position: fixed; */
}

/* paycon2 */

.paycon2 {
    box-sizing: border-box;
    width: 200px;
    /* border: 1px solid #000; */
    text-align: center;
    float: left;
    margin: 10px auto 30px auto;
    cursor: pointer; 
}

.paycon2 img {
    box-sizing: border-box;
    display: block;
    width: 130px;
    margin: 0 auto; 
}

.paycon2 .paycon2-txt {
    box-sizing: border-box;
    display: -webkit-box;
    margin: 10px auto 0 auto;
    font-size: 14px;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: no-wrap;
}


/* paycon3 */

.mymy-payCon .paycon3 {
    box-sizing: border-box;
    display: block;
    width: 200px;
    /* border: 1px solid #000; */
    float: right;
    text-align: center;
}

.paycon3 a {
    box-sizing: border-box;
    display: inline-block;
    width: 70px;
    height: 30px;
    line-height: 26px;
    margin: 0 10px;
    padding: 2px;
    border: none;
    border-radius: 3px;
    letter-spacing: -1.0px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background-color: rgba(133, 33, 255, 0.6);
}





