/* 리뷰 작성폼 전체*/
.review-form,
.review-form1

{
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    padding: 10px 30px;
    display: none;
}

.review-form2 {
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    padding: 10px 30px;
    display: block;
}

.revbox {
    box-sizing: border-box;
    display: inline-block;
}

.review-form input[type='radio'], 
.review-form1 input[type='radio'],
.review-form2 input[type='radio']{
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    width: 13px;
    height: 13px;
    margin: 0 40px;
    border: 1px solid #000;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.review-form input[type='radio']:checked, 
.review-form1 input[type='radio']:checked,
.review-form2 input[type='radio']:checked{
    background-color: #8521FF;
    border: 2px solid #fff;
    box-shadow: 0 0 0 1.2px #8521FF;
}

.review-form label, 
.review-form1 label,
.review-form2 label{
    font-size: 14px;
    cursor: pointer;
}


/* 클래스 설명 들어있는 부분*/
.rf-1 {
    box-sizing: border-box;
    border-bottom: 1px solid #d6d6d6;
    /* border: 1px solid #000; */
    width: 440px;
    height: 130px;
    padding: 2px;
}

.rf-1 .rf-1-1 {
    box-sizing: border-box;
    /* border: 1px solid #000; */
    width: 436px;
    height: 126px;
}

.rf-1-1 img {
    box-sizing: border-box;
    border-radius: 3px;
    display: block;
    /* border: 1px solid #000; */
    width: 120px;
    height: 120px;
    float: left;
}

.rf-1-1 .rf-1-1-title {
    /* border: 1px solid #000; */
    display: block;
    font-size: 20px;
    width: 310px;
    margin: 5px 0;
    float: left;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}
.rf-1-1 p {
    display: -webkit-box;
    min-width: 200px;
    max-width: 300px;
    min-height: 70px;
    margin-left: 10px;
    font-size: 13px;
    text-align: left;
    float: left;
    /* border: 1px solid #000; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: no-wrap;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.rf-1-1-classDate {
    box-sizing: border-box;
    display: block;
    /* border: 1px solid #000; */
    font-size: 14px;
    text-align: left;
    width: 310px;
    margin: 5px auto;
    padding-left: 10px;
    float: left;
}

.rf-1-1-revDate {
    box-sizing: border-box;
    display: block;
    /* border: 1px solid #000; */
    width: 310px;
    float: left;
    font-size: 14px;
    text-align: left;
    margin: 5px 0;
    padding-left: 10px;
}



/* 별점 부분 */
.rf-2 {
    box-sizing: border-box;
    border-bottom: 1px solid #d6d6d6;
    height: 80px;
    margin-bottom: 5px;
    padding: 0 auto;
    text-align: center;
    line-height: 30px;
}

.rf-2 span {
    font-size: 18px;
}


/************ 별점 ************/
/* component */

.star-rating {
    /* border:solid 1px #ccc; */
    display:flex;
    flex-direction: row-reverse;
    justify-content:space-around;
    /* padding: 0.2em; */
    text-align:center;
    margin: 0 auto;
    width: max-content;
  }
  
  .star-rating input {
    display:none;
  }
  
  .star-rating label {
    color:#d6d6d6;
    font-size: 35px;
    cursor:pointer;
  }
  
  .star-rating :checked ~ label {
    color: #8521FF;
  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color:#8521FF;
  }

/**********************************************/


/* 질문 부분 */
/* 질문1 */
.rf-3 {
    box-sizing: border-box;
    border-bottom: 1px solid #d6d6d6;
    height: 90px;
    margin-bottom: 10px;
    padding: 0 auto;
    text-align: center;
}

.rf-3 span {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}



/* 질문2 */

.rf-4 {
    box-sizing: border-box;
    border-bottom: 1px solid #d6d6d6;
    height: 90px;
    margin-bottom: 10px;
    padding: 0 auto;
    text-align: center;
}

.rf-4 span {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

/* 질문3 */

.rf-5 {
    box-sizing: border-box;
    border-bottom: 1px solid #d6d6d6;
    height: 90px;
    margin-bottom: 10px;
    padding: 0 auto;
    text-align: center;
}

.rf-5 span {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

/* 리뷰 작성칸 */

.rf-6 {
    box-sizing: border-box;
    border-bottom: 1px solid #d6d6d6;
    height: 200px;
    margin-bottom: 10px;
    padding: 0 auto;
    text-align: center;
}

.rf-6 span {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

.rf-6 textarea {
    border-color: #8521FF;
    text-indent: 8px;
    width: 430px;
    height: 150px;
    font-size: 15px;
    padding: 5px;
    letter-spacing: -1.5px;
    outline-color: #8521FF;
    border-radius: 3px;
    resize: none;
}

.rf-6-txt {
    box-sizing: border-box;
    text-indent: 8px;
    width: 430px;
    height: 150px;
    border: 0.1px solid #8521FF;
    border-radius: 5px;
    overflow-y: scroll;
    margin: 0 auto;
    font-size: 15px;
    text-align: left;
    padding: 5px;
    letter-spacing: -1.5px;
    text-overflow: ellipsis;
}


/* 사진 첨부 */

.filebox {
    box-sizing: border-box;
    border-bottom: 1px solid #d6d6d6;
    height: 260px;
    padding: 0 auto;
    text-align: center;
    /* border: 1px solid #000; */
}

.filebox span {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 10px;
}

.filebox img{
    display: block;
    /* border: 1px solid #000; */
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.filebox-1 {
    box-sizing: border-box;
    /* border: 1px solid #000; */
    display: block;
    width: 400px;
    margin: 15px auto;
}

.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #8521FF;
    width: 75%;
    color: #999999;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: no-wrap;
    outline-color: #8521FF;
    border-radius: 3px;
}

.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #8521FF;
    cursor: pointer;
    height: 40px;
    line-height: 20px;
    margin-left: 5px;
    border-radius: 3px;
}
.filebox input[type='file']{
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}





/* 링크,버튼 쪽 */
.rf-8 {
    box-sizing: border-box;
    /* border: 1px solid #000; */
    height: 40px;
    line-height: 40px;
    padding: 0 auto;
    text-align: center;
    margin: 25px auto 0 auto;
}

/* 뒤로가기 버튼 */
.rf-8 .back-btn {
    width: 80px;
    height: 40px;
    margin: 0 20px;
    border: none;
    border-radius: 8px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    color: #000;
    font-weight: 400;
    background-color: #d6d6d6;
}


/* 후기 등록버튼 */
.rf-8 .insert-btn {
    width: 80px;
    height: 40px;
    margin: 0 20px;
    border: none;
    border-radius: 8px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    background-color: #8521FF;
}
/* 여백용 */
.rf-9 {
    box-sizing: border-box;
    height: 80px;
}

/*********************************************************************/