.title{
    width: 50px;
}
.button{
    width:80px;
    padding: 10px 20px 10px 20px;
    margin-top: 5px;
    margin-left: 300px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 30px;
    text-align: center;
    /* transition: 1s; */
}
.button:hober{
    background-color: #a8a8a8;
}

.button:hover {
    /* width:120px;  */
    box-shadow: 0 0 0 1px #a8a8a8;
    background-color: #9560d6;
    color:white;
    border:0;
}


#notice_btn div{
    width:310px;
    margin:0 auto;
 
}
#notice_btn input{
    text-align: center;
    margin-left:10px;
}

.ta3334{
}

.ta3334 td, th{
    text-align: center;
    border-collapse: collapse;
}