.ta3334{
    width: 960px;
    margin-top: 30px;
    margin-left: 15px;
}
.ta3334 .button{
    width:80px;
    padding: 10px 20px 10px 20px;
    margin-top: 5px;
    margin-left: 300px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 30px;
    text-align: center;
    /* transition: 1s; */
}
.ta3334 .button:hober{
    background-color: #a8a8a8;
}

.ta3334 .button:hover {
    /* width:120px;  */
    box-shadow: 0 0 0 1px #a8a8a8;
    background-color: #9560d6;
    color:white;
    border:0;
}


#notice_btn{
    width:50px;
    margin:0 auto;
    
 
}
#notice_btn{
    text-align: center;
    margin-top: 25px;
    margin-left: 455px;
    margin-bottom: 25px;
}

.ta3334{
    border: 1px solid #000000;
    border-collapse: collapse;
}

.ta3334 td, .ta3334 th{
    text-align: center;
    border: 1px solid #000000;
}